.suggestion{

    cursor: pointer;

    border-right: 1px solid gray;

    border-left: 1px solid gray;

    border-bottom: 1px solid gray;

}



.suggestion:hover{

    background-color: gainsboro;

}